.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > .userimage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messsage__info {
  padding-left: 10px;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 12px;
  margin-left: 3px;
}
